body{
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 0, 0);
}
.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.hero-img{
    width: 100%;
    transform: scale(1.06);
}
.tint{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8500) 3.000%, rgba(0, 0, 0, 0.8465) 11.08%, rgba(0, 0, 0, 0.8361) 19.17%, rgba(0, 0, 0, 0.8187) 27.25%, rgba(0, 0, 0, 0.7944) 35.33%, rgba(0, 0, 0, 0.7632) 43.42%, rgba(0, 0, 0, 0.7250) 51.50%, rgba(0, 0, 0, 0.6868) 59.58%, rgba(0, 0, 0, 0.6556) 67.67%, rgba(0, 0, 0, 0.6313) 75.75%, rgba(0, 0, 0, 0.6139) 83.83%, rgba(0, 0, 0, 0.6035) 91.92%, rgba(0, 0, 0, 0.6000) 100.0%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.content{
    /* background-color: #eeeeee2c; */
    width: 600px;
    position: absolute;
    top: 0;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nav-bar{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    top: 5.8%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.logo{

    color: red;
}
.nav-flex{
    display: flex;
    gap: 10px;
}
.en-button{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.464);
    border-radius: 4px;
    font-size: 14px;
    padding: 7px 40px;
    transition: ease-in-out;
    transition: 2s;
}
.login-button{
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 20px;
}
.login-button:hover, .content-button:hover{
    background-color: #C11119;
}
.title{
    font-size: 55px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.sub-title{
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.desc{
    margin-top: 0;
    font-size: 17px;
    font-weight: bold;
}
.content-flex{
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: left;
}

.content-input{
    width: 340px;
    padding: 19px 16px;
    background-color: rgba(0, 0, 0, 0.482);
    color: white;
    border: 1.5px solid #3bd198;
    border-radius: 4px;
}
.content-input:focus{
    outline: none;
    border: 2px solid lightgray;
}
.content-button{
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 23px;
    font-weight: bold;
    border: none;
    padding: 13px 28px;
    border-radius: 4px;
}
.container{
    /* background-color: #eeeeee34; */
    color: white;
    display: flex;
    align-items: center;
    gap: 70px;
    width: 1200px;
    margin: 100px auto;
    padding: 10px;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
.real-tv{
    width: 600px;
    position: relative;
}
.tv-frame{
    width: 100%;
    position: relative;
}
.tv-vid{
    margin-left: 80px;
    margin-top: 70px;
    width: 80%;
    position: absolute;
}
.heading{
    font-size: 56px;
    margin-bottom: 0px;
}
.sub-heading{
    font-size: 22px;
}
.first-section{
    border-bottom: 6px solid #eeeeee3f;
}

.bucket{
    width: 1300px;
    margin: 20px auto;
    transition: ease-in-out;
    transition: 0.5s;
}
.bucket:hover{
    transform: scale(1.04);
    
}
.plans-container{
    width: 990px;
    background: linear-gradient(127deg, #661d3e, #280a2b);
    color: white;
    margin: 0px auto;
    /* margin-top: 0px; */
    padding: 1px 40px;
    border-radius: 13px;
    margin-bottom: 100px;
}
.plans-heading{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px;
}
.plans-subheading{
    color: rgba(255,255,255,0.7);
    margin-top: 2px;
    margin-bottom: 35px;
    font-size: 19px;
    font-weight: bold;
}
.card-heading{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 160px;
    margin-top: 100px;
}


.card-container{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    gap: 15px;
    margin-bottom: 0px;
}
.card{
    background: linear-gradient(
        149deg,
        #192247 0%,
        #210e17 99.08%
    );
    width: 400px;
    height: 270px;
    padding: 4px 20px;
    border-radius: 14px;
    position: relative;
}
.card-title{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.card-img-holder{
    position: absolute;
    bottom: 0;
    right: 0;
}
.margin-top{
    margin-top: 60px;
}

.question-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(45,45,45);
    color: white;
    width: 900px;
    margin: 0px 160px;
    margin-bottom: 9px;
    padding: 1px 20px;
}
.question{
    font-size: 25px;
    font-weight: bold;
}
.faqs{
    margin-bottom: 80px;
}

.end-container{
    margin: 0px 160px;
    color: white;
    margin-bottom:  30px;
}
.email-width{
    width: 690px;
}

.queries-container{
    color: white;
    margin: 0px 180px;
    /* margin-bottom: 200px; */
}
.phone{
    color: rgba(255, 255, 255, 0.7);
    text-decoration-color: rgba(255, 255, 255, 0.7);
}
.list-container{
    width: 920px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.list-element{
    color: rgba(255,255,255,0.7);
}
.net-india{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 100px;
}
ul > li{
    font-size: 15px;
    /* font-weight: bolder; */
    margin-top: 15px;
}